/bitrix/backup/*
/bitrix/managed_cache/*
/bitrix/cache/*
/bitrix/html_pages/*
/bitrix/stack_cache/*
/bitrix/tmp/*
!/bitrix/backup/.access.php
!/bitrix/cache/.access.php
!/bitrix/managed_cache/.access.php
!/bitrix/stack_cache/.access.php
!/bitrix/tmp/.access.php
/bitrix/updates/*
/upload/resize_cache/*
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/*.log
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
/upload/tmp/*
/upload/resize_cache/*
/README.md
/CHANGELOG.md
.env
*.env.local